In [1]:
import csv
import glob
import os
import pandas as pd
from pandas import DataFrame
import numpy as np  
 



## read all csv files, covid daily reports frm April 12th to Augest 20th

os.chdir("C:\\Users\\Robin\\Documents\\Gatech\\COVID-19-master\\COVID-19-master\\csse_covid_19_data\\csse_covid_19_daily_reports_us")

extension = "csv"

all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames])

combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

combined_csv

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate,Unnamed: 0
0,Alabama,US,2020-04-12 23:18:15,32.3182,-86.9023,3563,93,NaN,3470.0,1.0,75.988020,21583.0,437.0,2.610160,84000001.0,USA,460.300152,12.264945,NaN
1,Alaska,US,2020-04-12 23:18:15,61.3707,-152.4044,272,8,66.0,264.0,2.0,45.504049,8038.0,31.0,2.941176,84000002.0,USA,1344.711576,11.397059,NaN
2,Arizona,US,2020-04-12 23:18:15,33.7298,-111.4312,3542,115,NaN,3427.0,4.0,48.662422,42109.0,NaN,3.246753,84000004.0,USA,578.522286,NaN,NaN
3,Arkansas,US,2020-04-12 23:18:15,34.9697,-92.3731,1280,27,367.0,1253.0,5.0,49.439423,19722.0,130.0,2.109375,84000005.0,USA,761.753354,10.156250,NaN
4,California,US,2020-04-12 23:18:15,36.1162,-119.6816,22795,640,NaN,22155.0,6.0,58.137726,190328.0,5234.0,2.812020,84000006.0,USA,485.423868,22.961176,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5104,New York,US,2020-08-20 04:30:22,42.1657,-74.9481,427202,32865,74328.0,320009.0,36.0,2196.009255,7272403.0,89995.0,7.693082,84000036.0,USA,37383.402453,21.066147,91312.0
5105,Texas,US,2020-08-20 04:30:22,31.0545,-97.5635,574633,10934,424685.0,139014.0,48.0,1981.774584,4517189.0,NaN,1.902780,84000048.0,USA,15578.726509,NaN,91325.0
5106,Massachusetts,US,2020-08-21 04:30:30,42.2302,-71.5301,124728,8888,102205.0,13635.0,25.0,1809.618364,1518522.0,12225.0,7.125906,84000025.0,USA,22031.502924,9.801328,91359.0
5107,New York,US,2020-08-21 04:30:30,42.1657,-74.9481,427803,32861,74406.0,320536.0,36.0,2199.098664,7353387.0,89995.0,7.681339,84000036.0,USA,37799.696415,21.036552,91370.0
5108,Texas,US,2020-08-21 04:30:30,31.0545,-97.5635,579892,11174,431960.0,136758.0,48.0,1999.911643,4547069.0,NaN,1.926911,84000048.0,USA,15681.775629,NaN,91383.0

# I only want to look at the situation in New York, TX, and MA
![title]("compare_States.png")

In [3]:
# filter all the other states data out
States = ["New York", "Texas", "Massachusetts"]
df = combined_csv[combined_csv.Province_State.isin(States)]
April = df[df.Last_Update.str.contains("-04-")]
May = df[df.Last_Update.str.contains("-05-")]
June = df[df.Last_Update.str.contains("-06-")]
July = df[df.Last_Update.str.contains("-07-")]
Augest = df[df.Last_Update.str.contains("-08-")]

April

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate,Unnamed: 0
24,Massachusetts,US,2020-04-12 23:18:15,42.2302,-71.5301,25475,756,NaN,24719.0,25.0,371.151606,116730.0,2235.0,2.967615,84000025.0,USA,1700.668379,8.773307,NaN
35,New York,US,2020-04-12 23:18:15,42.1657,-74.9481,189033,9385,23887.0,179648.0,36.0,1121.124012,461601.0,42594.0,4.964742,84000036.0,USA,2737.680538,22.532574,NaN
47,Texas,US,2020-04-12 23:18:15,31.0545,-97.5635,13677,283,2014.0,13394.0,48.0,59.505161,124533.0,1338.0,2.069167,84000048.0,USA,541.811523,9.782847,NaN
25,Massachusetts,US,2020-04-13 23:07:54,42.2302,-71.5301,26867,844,NaN,26023.0,25.0,391.432000,122049.0,2340.0,3.141400,84000025.0,USA,1778.162212,8.709569,NaN
36,New York,US,2020-04-13 23:07:54,42.1657,-74.9481,195749,10058,23887.0,185691.0,36.0,1160.955517,478357.0,42712.0,5.138213,84000036.0,USA,2837.057652,21.819779,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4765,New York,US,2020-04-29 02:32:33,42.1657,-74.9481,295106,22912,51630.0,272194.0,36.0,1750.225743,844994.0,64275.0,7.763990,84000036.0,USA,5011.522135,21.780309,84756.0
4766,Texas,US,2020-04-29 02:32:33,31.0545,-97.5635,26357,719,11786.0,25638.0,48.0,114.672627,300384.0,NaN,2.727928,84000048.0,USA,1306.894659,NaN,84769.0
4767,Massachusetts,US,2020-04-30 02:32:31,42.2302,-71.5301,60265,3405,NaN,56860.0,25.0,878.015762,265618.0,5758.0,5.650046,84000025.0,USA,3869.854651,9.554468,84804.0
4768,New York,US,2020-04-30 02:32:31,42.1657,-74.9481,299691,23477,53238.0,276214.0,36.0,1777.418633,872481.0,65397.0,7.833735,84000036.0,USA,5174.543066,21.821476,84815.0
4769,Texas,US,2020-04-30 02:32:31,31.0545,-97.5635,27257,754,12507.0,26503.0,48.0,118.588299,314790.0,NaN,2.766262,84000048.0,USA,1369.571514,NaN,84828.0

SyntaxError: invalid syntax (<ipython-input-65-4f054d3f54e4>, line 1)